<div class="content-area">
    <div (opened)="opened" class="sidenav" >
      <section class="sidenav-content">
      <div class="menu-item">Item 1</div>
      <div class="menu-item">Item 2</div>
      <div class="menu-item">Item 3</div>
      </section>
    </div>>
      <router-outlet>
        <span
          class="spinner spinner-inline"
          value="value"
          *ngIf="loading">
      </span>
      </router-outlet>
    <button
        (click)="sidenav.toggle()">
    </button>
</div>