<mat-sidenav-container autosize>
    <mat-sidenav mode="side" (opened)="opened" #sidenav class="sidenav">
      <div class="menu-item">Item 1</div>
      <div class="menu-item">Item 2</div>
      <div class="menu-item">Item 3</div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet>
        <mat-progress-spinner
          class="loader"
          [color]="color"
          [mode]="mode"
          [value]="value"
          *ngIf="loading">
        </mat-progress-spinner>
      </router-outlet>
      <mat-slide-toggle
        [hidden]="loading"
        [color]="color"
        [checked]="checked"
        [disabled]="disabled"
        (click)="sidenav.toggle()">
      </mat-slide-toggle>
    </mat-sidenav-content>
</mat-sidenav-container>