
.mat-drawer,
.mat-sidenav,
.sidenav{
  display: block;
  height: 100%;
  padding: 1.25rem;
  min-width: 300px;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.mat-drawer-container,
.mat-sidenav-container{
  display: flex;
  height: 100%;
}

.mat-drawer-content,
.mat-sidenav-content{
  padding: 1.25rem;
  margin-left: 2em;
  min-width: 600px;
}
div.menu-item{
  padding: 1em;
}