@import "./_variables";


@mixin PageTitle {
  font-family: $VT323;
  font-weight: normal;
  color: $black;
  @include fontSize(24px);
}

@mixin PrimaryTitle {
  font-family: $noto-sans;
  color: $gray;
  @include fontSize(16px);
  @include lineHeight(16px);
}

@mixin SecondaryTitle {
  color: $medium-gray;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  @include fontSize(15px);
  @include lineHeight(15px);
}

@mixin NavBar {
  header.header {
      background-color: $chansey-pink;
      height: 2.7rem;
      border-bottom: 1px solid $fifty-percent-blue;
      span.spacer { flex: 1 1 auto; }
    .header-actions {
      .branding {
        padding: 0 1rem;
        height: auto;
        width: $nav-logo-width;
      }
    }
  }
  }

@mixin NavTab {
  @include fontSize(12px);
  font-weight: bold;
  color: $gray;

  &:hover{
    border-bottom: solid 4px $dark-gray;
  }
}

@mixin BodyText {
  color: $gray;
  @include fontSize(14px);
  font-weight: normal;
  @include lineHeight(25px);
}

/* Card for use with Forms too */
@mixin Card {
  @include responsiveSize($form-card-width, $form-card-height);
  box-shadow: none;
  max-width: $form-card-width;
  height: auto;
  border: solid 1px $subtle-gray;
  border-radius: $card-border-radius;
  background-color: $white;
}

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Buttons */
@mixin SmallButton {
  max-width: 130px;
  max-height: 30px;
  @include fontSize(12px);
}

@mixin MediumButton {
  max-width: 220px;
  max-height: 35px;
  @include fontSize(13px);
}

/* Tables and Datagrid */
@mixin Datagrid {
  width: 100%;
  .datagrid {
    border-radius: $card-border-radius;
    border: solid 0.5px $light-gray;
  }
  .datagrid-table {
    width: 100%;
    .datagrid-header .datagrid-column {
      background-color: $fifteen-red;
      span.datagrid-column-title {
        @include Label();
        color: $pale-purple;
        font-weight: bold;
      }
    }
  }
  .datagrid-scrolling-cells {
    background-color: $white;
    color: $black;
    word-wrap: break-word;
    cursor: pointer;
  }
}

@mixin TableView {
  th {
    background-color: $fifteen-red;
  }
  th,
  label {
    @include Label();
    color: $pale-purple;
    font-weight: bold;
  }
  td {
    @include fontSize(11px);
    color: $gray;
    background-color: $white;
    word-wrap: break-word;
  }
}

@mixin StatBadge {
  font-size: 0.52rem;
  text-transform: uppercase;
  max-width: $badge-width;
  max-height: $badge-height;
  border-radius: $badge-border-radius;
  padding: 0.2rem 0.7rem;
  cursor: pointer;
}

@mixin EnableStat {
  height: inherit;
  width: inherit;
  color: $enable-badge-text;
  background-color: $fifty-percent-blue;
  cursor: pointer;
}

@mixin DisableStat {
  height: inherit;
  width: inherit;
  color: $disable-badge-text;
  background-color: $fifty-percent-red;
  cursor: pointer;
}

@mixin Label {
  @extend .p3 !optional;
  @include fontSize(11px);
  font-weight: bold;
  color: $gray;
}

@mixin FixedModal {
  @include responsiveSize(450px, 227px);
  border-radius: $card-border-radius;
  border: solid 0.5px $dark-gray;
  background-color: $white;
}

.full-width {
  width: 100%;
}
