
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '_variables';
@import '_mixins';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat-core();

@mixin minty-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  
  // Define any styles affected by the theme.
  .minty-theme{
    // Use mat-color to extract individual colors from a palette.
    color: mat-color($mat-grey, 800);
    background-color: mat-color($primary);
    border-color: mat-color($accent, A400);
  }
}

$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-deep-orange, 300);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
