<div class="content-area">
  <div class="card clr-form">
    <h3 class="card-header">
      {{formInfo.title}}
    </h3>
    <div class="card-block">
      <div *ngFor="let item of questionsList">
        <div class="full-width clr-justify-content-between" *ngIf="item.type === 'date'">
          <p>{{item.number}}. {{item.text}}</p>
          <clr-date-container>
          </clr-date-container>
        </div>
        <div *ngIf="item.type === 'choice'">
            <p>{{item.number}}. {{item.text}}</p>
            <select >
              <option *ngFor="let answer of item.answerList">{{answer.value}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn-sm btn-primary" (click)="ngOnSubmit()">Submit</button>
    <button type="reset" class="btn-sm btn-secondary">Cancel</button>
  </div>
