<div class="container">
  <h3 class="display-4">Find Your Practicioner</h3>
  <div class="row">
    <form [formGroup]="practForm" (ngSubmit)="onSubmit(form.value)">
      <mat-form-field>
        <mat-label>Practicioner City</mat-label>
        <mat-select matNativeControl required placeholder="Select a City">
          <mat-option *ngFor="let city of cities" [value]="cities.value">
            {{city.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matNativeControl formControlName="activeStatus" placeholder="Select Status" required>
          <mat-option [value]="option">Active</mat-option>
          <mat-option [value]="option">Inactive</mat-option>
          </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
