<div class="content-container">
  <h3 class="display-6">Find Your Practitioner</h3>
  <div class="row">
    <form [formGroup]="practForm" (ngSubmit)="onSubmit(practForm.value)">
      <mat-form-field>
        <mat-label>Practitioner City</mat-label>
        <mat-select matNativeControl placeholder="Select a City" formControlName="city" required>
          <mat-option *ngFor="let city of cities" [value]="city.value">
            {{city.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select matNativeControl formControlName="activeStatus" placeholder="Select Status" required>
          <mat-option *ngFor="let status of activeStatus" [value]="status.value">{{status.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="accent" type="submit">Search</button>
    </form>
  </div>
</div>
