<div class='clr-container'>
  <div class="clr-col-12">
    <h1>Healing Spa and Naturopathy for Precarious Pokemon</h1>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-8 clr-col-md-6 clr-col-">
      <h3>Away from the Pokeball</h3>
      <p>The Pokecenter is committed to providing excellence in care for you and your Pokemon. We offer multiple
        services including prescription refills and referrals. We also offer nutritional counselling and physiotherapy
        to new and existing patients. Schedule an Intake Appointment!</p>
      <h3>About</h3>
      <p>Pokémon Centers come in a variety of shapes and sizes, ranging from very tall buildings to tiny little huts.
        Occasionally, they can be found out in the middle of nowhere. Every center has a Nurse Joy and a Chansey (in
        Unova, it is an Audino; In Kalos, it is a Wigglytuff; In Alola, it is a Blissey and a Comfey) to assist her.
        Pokémon Centers in the anime usually consist of a lobby, a recovery room for Pokémon in-healing to stay, an
        Emergency Room, a Poké Ball room, beds for weary trainers, and sometimes a cafeteria. They also have video
        phones and PCs, which trainers are welcome to use. All Pokémon Centers are connected in case of emergency.
      </p>
    </div>
    <div class="clr-col-lg-4 clr-col-md-6 clr-col-">
      <img src="../../../assets/waterfall.gif" width="100%"/>
    </div>
  </div>
</div>
