<header class="header clr-align-items-center">
      <div class="branding clr-align-self-start">
            <img [src]=[logo] />
      </div>
      <span class="spacer"></span>
      <button *ngIf="!isHome()" class="btn btn-link">
              <a routerLink="/"> Back</a>
      </button>
      <button routerLink="/practitioners" class="btn btn-link">
          Healers
        </button>
      <button class="btn btn-link" routerLink="/patients">
          Patients
      </button>
      <button class="btn btn-link" routerLink="/survey">
          Intake
      </button>
</header>
