<header class="header header-6">
    <nav class="nav-group" color="primary" role="navigation">
        <a routerLink="">
              <img class="logo" [src]=[logo] />
        </a>
        <span class="fill-remaining-space"  *ngIf="!isHome()">
                <a routerLink="/"> Back</a>
        </span>
        <span class="fill-remaining-space"></span>
        <a routerLink="/practicioners">
                <span>Practitioners</span>
            </a> 
        <a routerLink="/patients">
            <span>Patients</span>
        </a> 
        <a routerLink="/survey">
            <span>Pets</span>
        </a>
    </nav>
</header>